@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: rgb(30, 30, 46);
  color: @text;
  margin: 5px 5px;
	border-radius: 26px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray,
#clock,
#wireplumber{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 1rem;
  margin: 1px;
}

#wireplumber {
  color: @maroon;
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-music {
  color: @mauve;
  margin-right: 1rem;
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
